[package]
name = "dht-sensor"
version = "0.2.0"
description = "Driver for the DHT11/DHT22 sensor based on embedded-hal"
authors = ["Michael Beaumont <mjboamail@gmail.com>"]
keywords = ["embedded", "sensor", "humidity", "temperature", "embedded-hal-driver"]
categories = ["embedded", "no-std", "hardware-support"]
edition = "2018"
readme = "README.md"
license = "MIT"
repository = "https://github.com/michaelbeaumont/dht-sensor"
exclude = [
  ".github",
  "nucleo.cfg",
  "openocd.gdb",
  "memory.x",
  ".gitignore",
]
#link = "builds.rs"

[[example]]
name = "stm32f042"
path = "examples/stm32f042.rs"

[[example]]
name = "dht11-multi-hals"
path = "examples/dht11-multi-hals.rs"

[dependencies]
embedded-hal = "^0.2.4"
# Next could be dev-dependencies since they are only for examples, but 
#  dev-dependencies do not allow optional (as of cargo 1.44.1).
stm32f0xx-hal = {version = "^0.17.1",optional = true} 
stm32f1xx-hal = {version = "^0.7.0", optional = true} 
stm32f3xx-hal = {version = "^0.6.1", optional = true} 
stm32f4xx-hal = {version = "^0.8.3", optional = true} 
stm32f7xx-hal = {version = "^0.2.0", optional = true} 
stm32h7xx-hal = {version = "^0.8.0", optional = true} 
stm32l0xx-hal = {version = "^0.6.2", optional = true} 
stm32l1xx-hal = {version = "^0.1",   optional = true,  default-features = false} 
stm32l4xx-hal = {version = "^0.6.0", optional = true}

[dev-dependencies]
cortex-m = "0.6.7"
cortex-m-rt = "0.6.13"
cortex-m-semihosting = "0.3.7"
panic-halt = "0.2.0"
panic-semihosting = ">=0.5.2"


[features]
stm32f0xx = []
stm32f1xx = []
stm32f3xx = []
stm32f4xx = []
stm32f7xx = []
stm32h7xx = []
stm32l0xx = []
stm32l1xx = []
stm32l4xx = []

#cargo  build --target thumbv6m-none-eabi  --example stm32f042  --release  --features stm32f042
stm32f042   = ["stm32f0xx-hal/stm32f042"]

#cargo  build --target $TARGET --features $HAL,$MCU --example dht11-multi-hals [ --release ]
stm32f030xc = ["stm32f0xx-hal/stm32f030xc", "stm32f0xx-hal/rt"]
stm32f100   = ["stm32f1xx-hal/stm32f100",   "stm32f1xx-hal/rt"]
stm32f101   = ["stm32f1xx-hal/stm32f101",   "stm32f1xx-hal/rt"]
stm32f103   = ["stm32f1xx-hal/stm32f103",   "stm32f1xx-hal/rt"]        #  these may not need   ,"stm32f1xx-hal/rt"]
stm32f303xc = ["stm32f3xx-hal/stm32f303xc", "stm32f3xx-hal/rt"] 
stm32f401   = ["stm32f4xx-hal/stm32f401", "stm32f4xx-hal/rt"] 
stm32f405   = ["stm32f4xx-hal/stm32f405", "stm32f4xx-hal/rt"] 
stm32f411   = ["stm32f4xx-hal/stm32f411", "stm32f4xx-hal/rt"] 
stm32f722   = ["stm32f7xx-hal/stm32f722", "stm32f7xx-hal/rt"] 
stm32h742   = ["stm32h7xx-hal/stm32h742", "stm32h7xx-hal/rt"]
stm32l0x2   = ["stm32l0xx-hal/stm32l0x2", "stm32l0xx-hal/rt", "stm32l0xx-hal/mcu-STM32L072KZTx"]
stm32l0x1   = ["stm32l0xx-hal/stm32l0x1", "stm32l0xx-hal/rt", "stm32l0xx-hal/mcu-STM32L071KBTx"]
stm32l100   = ["stm32l1xx-hal/stm32l100", "stm32l1xx-hal/rt"]
stm32l151   = ["stm32l1xx-hal/stm32l151", "stm32l1xx-hal/rt"]
stm32l4x1   = ["stm32l4xx-hal/stm32l4x1", "stm32l4xx-hal/rt"]
stm32l4x2   = ["stm32l4xx-hal/stm32l4x2", "stm32l4xx-hal/rt"]


[profile.release]
codegen-units = 1
debug = true
lto = true

[package.metadata.docs.rs]
default-target = "x86_64-unknown-linux-gnu"





