name: Release

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
      - name: Login
        uses: actions-rs/cargo@v1
        with:
          command: login
          args: ${{ secrets.CRATESIO_TOKEN }}
      - name: Publish
        uses: actions-rs/cargo@v1
        with:
          command: publish
